body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  padding-top: 10px;
  margin-top: 20px;
  width: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
}

.content-left-container {
  display: flex;
}

.content-right-container {
  display: flex;
}

.content-main-login-container {
  display: flex;
  justify-content: flex-start;
  width: 75%;
}
